body {
    background: #cdcdcd;
    margin: 0;
}

.simple {
    padding: 2%;
    height: 610px;
    width: 96%;
}
#image {
    height: 610px;
    width: 65%;
    float: left;
}

.title {
    height: 1200px;
    width: 96%;
    margin: 2%;
    background: #303030;

    box-shadow: 50px;
}

.image_value {
    width: 100%;
    height: 100%;
    border-width: 5px;
    border-color: black;
    border: solid;
    float: left;
}

.tablelist {
    display: flex;
    align-items: center;
    
    text-align: center;

    float: left;
    height: 610px;
    width: 31%;
    margin: 2%;
    padding: auto;
}

#slist {
    margin-top: 200px;
    height: 100%;
    color: #e3e3e3;
}

#slist p {
    font-size: 24px;
}

#detail {
    text-align: center;
    color: #e3e3e3;
    width: 90%;
    height: 400px;
    padding: 5%;
}

#detail p {
    font-size: 20px;
}
