body {
    margin: 0; 
    background: #cdcdcd;
}


.title {
    display: table;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    
    height: 300px;
    box-shadow: 50px;
}

.search {
    display: table-cell;
    vertical-align: middle;
    
}

form {
    float: left;
    text-align: center;
    

    width: 100%;

}