body {
    margin: 0;
}

.foot {
    background-color: #4e4e4e;
    width: 100%;
    height: 150px;
}

.foot .nav {
    width: 100%;
    height: 30%;
}

.foot .nav li {
    list-style: none;
    
    color: #dfdfdf;
    
    text-decoration: none;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 25px;
}

.foot .nav a li:hover { 
    background-color: #5e5e5e;
}

.foot .contactus {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    float: left;
}

.foot .contactus .info {
    width: 80%;
    float: left;
    text-align: center;
    color: #dfdfdf;
    font-size: 16px;
}

.foot .contactus .logo {
    width: 150px;
    float: right;
    margin-top: -80px;
}

.logo img {
    width: 130px;
    height: 130px;
}