body {
    margin: 0;
}

.head {
    background-color: #4e4e4e;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    text-align: center;
    box-shadow: 0 30px 50px;
}

.imgcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
    color: black;
}

.head .mainlogo {
    display: table;
    width: 15%;
    height: 200px;
    color: #dfdfdf;
    float: left;
}

.head .logotitle {
    display: table;
    width: 35%;
    height: 200px;
    float: left;
}

.head .logotitle p {
    display: table-cell;
    vertical-align: middle;
    color: #dfdfdf;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head .mainlogo img {
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
}


.head .list {
    width: 50%;
    height: 200px;
    float: left;
}

.headlist {
    display: table-cell;
    vertical-align: middle;
    list-style: none;

    width: 480px;
    height: 200px;

    margin: auto;
    text-align: center;
}

.listpos {
    float: right;
}

.headlist a:hover {
    background-color: #5e5e5e;
}

.headlist li {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    width: 130px;
}

.headlist a {
    float: left;
    margin: 0 15px 0 0;
    display: table;
    font-size: 33px;
    color: #dfdfdf;
    text-decoration: none;
}